.idea/
keyword-spotting/__pycache__
keyword-spotting/wandb/
data/
keyword-spotting/build/
keyword-spotting/main
keyword-spotting/.ipynb_checkpoints/
deploy/.vscode/
deploy/cc/*.exe
deploy/cc/*.o